app/build/generated/assets/
app/build/generated/res/resValues/
app/build/generated/res/rs/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/builds/debug/1509792516293/
app/build/intermediates/builds/debug/1509793588626/
app/build/intermediates/builds/debug/1509794039438/
app/build/intermediates/builds/debug/1509794064601/
app/build/intermediates/builds/debug/1509794491416/
app/build/intermediates/builds/debug/1509794881836/
app/build/intermediates/builds/debug/1509795145852/
app/build/intermediates/builds/debug/1509798602614/
app/build/intermediates/builds/debug/1509798753222/
app/build/intermediates/builds/debug/1509798841701/
app/build/intermediates/builds/debug/1509799024530/
app/build/intermediates/builds/debug/1509799051894/
app/build/intermediates/builds/debug/1509800662125/
app/build/intermediates/builds/debug/1509800803957/
app/build/intermediates/builds/debug/1509801032873/
app/build/intermediates/builds/debug/1509802287564/
app/build/intermediates/builds/debug/1509804063152/
app/build/intermediates/builds/debug/1509804709263/
app/build/intermediates/builds/debug/1509804969715/
app/build/intermediates/builds/debug/1509805030399/
app/build/intermediates/builds/debug/1509805072424/
app/build/intermediates/builds/debug/1509805087742/
app/build/intermediates/builds/debug/1509805110081/
app/build/intermediates/builds/debug/1509805122170/
app/build/intermediates/builds/debug/1509807305154/
app/build/intermediates/builds/debug/1509807905674/
app/build/intermediates/builds/debug/1509808135176/
app/build/intermediates/builds/debug/1509808471786/
app/build/intermediates/builds/debug/1509808513545/
app/build/intermediates/builds/debug/1509809264677/
app/build/intermediates/builds/debug/1509963775069/
app/build/intermediates/builds/debug/1509970624247/
app/build/intermediates/builds/debug/1509971653289/
app/build/intermediates/builds/debug/1509972063109/
app/build/intermediates/builds/debug/1509972639420/
app/build/intermediates/builds/debug/1510132964923/
app/build/intermediates/builds/debug/1510133032897/
app/build/intermediates/builds/debug/1510134965990/
app/build/intermediates/builds/debug/1510135346591/
app/build/intermediates/builds/debug/1510135578851/
app/build/intermediates/builds/debug/1510135607967/
app/build/intermediates/builds/debug/1510135711674/
app/build/intermediates/builds/debug/1510135800754/
app/build/intermediates/builds/debug/1510136081861/
app/build/intermediates/builds/debug/1510136402784/
app/build/intermediates/classes/debug/eisti/firebase/ProfileActivity$2.class
app/build/intermediates/classes/debug/eisti/firebase/ProfileActivity$3.class
app/build/intermediates/incremental-verifier/debug/eisti/firebase/ProfileActivity$2.class
app/build/intermediates/incremental-verifier/debug/eisti/firebase/ProfileActivity$3.class
app/build/intermediates/incremental/instantRunDependenciesApkBuilder/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/reload-dex/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_0dde91ba27dcc7baac00b212c98e17e45bca6eed/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_10b096052f5871215978ef14f62699a0963e18a1/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_226ad425ad9dc9e87ed77c3b00ce0a58e190d501/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_37d585196431501b54fa8ca0e60a4b956d83f70a/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_396562c2d1851346a1768384981fae3ccf44c083/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_438c558c4d485dc1d5bd3223219919fc35c7cc37/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_959964d829f8ddafe9ddcdcb9c85beed2a360428/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_9d4ca16f7554860d1403290f702b95d5319df37a/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_b3185f3fabef5c4559c810eb7fa5891dc3fc8324/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_d124277e62c479be20c943b38e233edf3b0d888e/
app/build/intermediates/transforms/dex/debug/folders/1000/10/classes_f8306716e52c448891f55d4696ef9f225254f35b/
app/build/intermediates/transforms/extractJars/
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/eisti/firebase/ProfileActivity$2.class
app/build/intermediates/transforms/instantRun/debug/folders/1/5/main/eisti/firebase/ProfileActivity$3.class
app/build/intermediates/transforms/instantRun/debug/folders/4000/
app/build/intermediates/transforms/instantRunDependenciesApk/
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/eisti/firebase/ProfileActivity$2.class
app/build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/eisti/firebase/ProfileActivity$3.class
app/build/intermediates/transforms/instantRunSlicesApk/
app/build/intermediates/transforms/mergeJniLibs/
app/build/tmp/compileDebugJavaWithJavac/
app/libs/
app/src/main/res/drawable/
build/android-profile/profile-2017-11-08-10-22-40-150.rawproto
build/android-profile/profile-2017-11-08-10-23-52-857.rawproto
build/android-profile/profile-2017-11-08-10-56-05-945.rawproto
build/android-profile/profile-2017-11-08-11-02-26-552.rawproto
build/android-profile/profile-2017-11-08-11-06-18-833.rawproto
build/android-profile/profile-2017-11-08-11-06-47-926.rawproto
build/android-profile/profile-2017-11-08-11-08-31-659.rawproto
build/android-profile/profile-2017-11-08-11-10-00-737.rawproto
build/android-profile/profile-2017-11-08-11-14-41-840.rawproto
build/android-profile/profile-2017-11-08-11-20-02-767.rawproto
build/android-profile/profile-2017-11-08-11-21-25-179.rawproto
